fastapi
uvicorn
pydantic
scikit-learn
transformers=4.18.0=pypi_0
sentencepiece=0.1.97=pypi_0
tensorflow=2.11.0=pypi_0
tensorflow-estimator=2.11.0=pypi_0
tensorflow-intel=2.11.0=pypi_0
tensorflow-io-gcs-filesystem=0.29.0=pypi_0
torch=1.13.1=pypi_0
speechrecognition=3.9.0=pypi_0
